* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}

.container {
  max-width: 760px;
  
}

.hc {
  height: 0px;
}

.topSpace {
  margin-top: 30px;
}

.projectPage {
  max-width: 780px;
}

.header {
  width: 100%;
  height: 65px;
  border-bottom: solid 1px #f6f8f8;
}

.header h3 {
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16191a;
  margin-top: 30px;
  text-align: center;
}

.about h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16191a;
  margin-bottom: 28px;
}

.about h2 {
  font-family: Poppins;
  font-size: 29px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16191a;
  margin-bottom: 20px;
}


.about h3 {
  width: 100%;
  height: 39px;
  font-family: Inconsolata;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #16191a;
}


#largeTitle {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0px;
}

.tag {
  height: 27px;
  border-radius: 3px;
  padding: 8px 26px 8px 24px;
  display: inline-block;
  margin-bottom: 31px;
}

hr {

  margin-top: 130px;
  margin-bottom: 79px;
  border-top: 1px solid #f6f8f8
}

.hr2 {
  margin-top: 80px;
}

.hr3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-hr {
  width: 100%;
  margin-left: 0%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F2F5F5;
  opacity: 1;
}

.comingSoon {
  font-family: Inconsolata;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
}

.tag p {
  margin-top: -3px;
  padding: 0px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

.spacer0 {
  height: 30px;
}

.spacer {
  height: 60px;
}

.spacer2 {
  height: 120px;
}

.longText {
  font-family: Inconsolata;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: normal;
  color: #16191a;
  display: inline-block;
}

#bold {
  font-weight: 900;
}

.link {
  font-family: Inconsolata;
  font-weight: bold;
  color: #1d8cff;
  font-size: 16px;
  border-bottom: solid 1px;
}

.link .a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.mention {
  font-family: Inconsolata;
  font-size: 16px;
  color: #16191a;
  margin-top: 8px;
  margin-bottom: 38px;
}

.mention em {
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-style: normal;
}

.projectBlock {
  display: inline-block;
  width: 100%;
}

.project {
  width: 100%;
  margin-bottom: 113px;
}

.previewImages {
  float: left;
  width: 33%;
  cursor: pointer;
}



.description {
  float: right;
  text-align: left;
  width: 60%;
  margin-top: 37px;
}

.mention .a:hover, a:visited, a:link, a:active,{
  text-decoration: none;
  color: inherit;
}

.mention a, .aboutLink {
  color: inherit;
  border-bottom: 1px solid;
}

.projectTitle {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  color: #16191a;
}

.projectDesc {
  font-family: Inconsolata;
  font-size: 18px;
  line-height: 1.56;
  color: #16191a;
}

.projectDesc {
  margin-bottom: 9px;
}



.grow { 
  transition: all .24s cubic-bezier(0,.5,.51,1); }
.grow:hover { transform: scale(1.02); }

.comingSoon a {
  cursor: default;
}

.social {
  bottom: 0;
  display: inline-block;
  width: 100%;
}

.socialLinks {
  margin-top: -20px;
}

.socialLinks p {
  font-family: Inconsolata;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #16191a;
}

.col-sm-3 {
  padding-left: 0px;
}

.row1 {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 30px;
}

.row2 {
  float: left;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 30px;
}

.gridContainer {
  height: 300px;
  display: block;
}

.email {
  float: right;
}

.email .emailSub {
  text-align: right;
  font-family: Inconsolata;
  font-size: 15px;
  font-weight: bold;
  color: #16191a;
}

.email .actualEmail {
  text-align: right;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 800;
  color: #16191a;
  letter-spacing: 0.3px;
  margin-top: -9px;
}

.socialLinks p .a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.logos {
  width: 110%;
  display: block;
}

.logo {
  margin-bottom: 15px;
  margin-bottom: 20px;
  width: 70%;
  max-width: 160px;
}

#logo1 {
  width: 90%;
}

#logo2 {
  width: 100%;
  margin-top: -3px;
}

#logo3 {
  margin-top: -5px;
}

#logo4 {
  margin-left: -30px;
}

/* About */

.aboutImage {
  width: 100%;
}

.aboutImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.twemoji {
  width: 20px;
}

.backNav {
  display: inline-block;
  margin-bottom: 103px;
  transition: all .6s cubic-bezier(0,.5,.51,1);
  padding: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: -38px;
}

.backNav img {
  float: left;
  height: 19px;
  width: 12px;
}

.backNav h3 {
  float: right;
  color: #1d8cff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: -2px;
  margin-left: 15px;
  color: #1d8cff
}


.backNav:hover {
  transform:translate(-7px);
}

.profile {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
}

.profileImage {
  float:left;
  height: 60px;
}

.profileDesc {
  margin-top: 4px;
  float: left;
  margin-left: 20px;
}

.profileDesc h2 {
  font-size: 18px;
  font-weight: bold;
}

.profileDesc h3 {
  margin-top: -18px;
  font-size: 16px;
  font-weight: normal;
}



.forwardNav {
  display: inline-block;
  transition: all .6s cubic-bezier(0,.5,.51,1);
  margin-bottom: -15px;
  padding: 5px;
  padding-left: 2px;
  cursor: pointer;
}

.forwardNav img {
  float: right;
  height: 14px;
  width: 9px;
}

.forwardNav:hover {
  transform:translate(+5px);
}



.forwardNav h4 {
  float: left;
  color: #1d8cff;
  font-family: Inconsolata;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: -3px;
  margin-right: 10px;
  color: #1d8cff
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 30px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 8px;
}

.column img {
  width: 100%;
  margin-top: 18px;
  vertical-align: middle;
}

@media screen and (max-width: 780px) {
  .description {
    width: 50%;
  }

  .logos {
    margin-bottom: 50px;
    width: 110%;
  }

  .profileDesc {
    width: 70%;
  }


  #logo4 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 580px) {
  .previewImages {
    width: 100%;
  }
  .description {
    width: 100%;
  }

  #mainImage {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 90%;
  }

  .backNav {
    margin-left: -5px;
  }


  .socialLinks {
    width: 50%;
  }

}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.appImage {
  margin-top: 20px;
  width: 100%;
}

.extraWide {
  width: 126%;
  margin-left: -13%;
  overflow-x: hidden;
}


.lessWide {
  width: 70%;
}

.lessWide2 {
  width: 60%;
}


.shadow {
  -webkit-filter: drop-shadow(0px 13px 24px rgba(34, 34, 34, 0.2));
  filter: drop-shadow(0px 13px 24px rgba(34, 34, 34, 0.2));
}

.bt-appear {
  opacity: 0.01;
}

.bt-appear.bt-appear-active {
  opacity: 1;
  transition: 1000ms;
}


/* Thumbs up/down
#iconbox {
  width: 100%;
}

#texts {
  float: left;
}

#icon1 img {
  margin-bottom: -20px;
}


#icon2 img {
  margin-top: -1px;
}

#icon1, #icon2, {
  float: left;
}

#icon1 img, #icon2 img {
  width: 30px;
  margin-left: 20px;
}
*/

#blue {
  color: #30e1c5;
}

#red {
  color: #f83f4c;
}

#title {
  font-size: 42px;
}

.appStore {
  width: 180px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  #icon1, #icon2 {
    float:right;
    margin-top: 60px;
  }

  #texts {
    max-width: 80%;
  }

}


@media screen and (max-width: 875px) {
  .extraWide {
    width: 100%;
    margin-left: 0%;
    overflow-x: hidden;
  }

  .logos {
    width: 100%;
  }
}

.italic {
  font-weight: 600;
  font-style: italic;
}
