* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}

.container {
  max-width: 780px;
  margin-top: 30px;
}

.projectPage {
  max-width: 780px;
}

.about h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16191a;
  margin-bottom: 28px;
}

.about h2 {
  font-family: Poppins;
  font-size: 34px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16191a;
  margin-bottom: 10px;
}

.about h3 {
  width: 565px;
  height: 39px;
  font-family: Inconsolata;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #16191a;

}

.tag {
  height: 26px;
  border-radius: 3px;
  padding: 8px 20px 8px 20px;
  display: inline-block;
  margin-bottom: 31px;
}

hr {
  width: 200%;
  margin-left: -50%;
  margin-top: 130px;
  margin-bottom: 79px;
  border-top: 1px solid rgba(242,245,245,1)
}

.hr2 {
  margin-top: 80px;
}

.hr3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-hr {
  width: 100%;
  margin-left: 0%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F2F5F5;
  opacity: 1;
}

.tag p {
  margin-top: -3px;
  padding: 0px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

.spacer0 {
  height: 40px;
}

.spacer {
  height: 60px;
}

.spacer2 {
  height: 120px;
}

.longText {
  font-family: Inconsolata;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: normal;
  color: #16191a;
  display: inline-block;
}

.link {
  font-family: Inconsolata;
  font-weight: bold;
  color: #1d8cff;
  font-size: 16px;
  border-bottom: solid 1px;
}

.link .a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.mention {
  font-family: Inconsolata;
  font-size: 16px;
  color: #16191a;
  margin-top: 8px;
  margin-bottom: 38px;
}

.mention em {
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-style: normal;
}

.projectBlock {
  display: inline-block;
  width: 100%;
}

.project {
  width: 100%;
  margin-bottom: 113px;
}

.previewImages {
  float: left;
  width: 33%;
  cursor: pointer;
}


.description {
  float: right;
  text-align: left;
  width: 60%;
  margin-top: 37px;
}

.mention .a:hover, a:visited, a:link, a:active,{
  text-decoration: none;
  color: inherit;
}

.mention a {
  color: inherit;
  border-bottom: 1px solid;
}

.projectTitle {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  color: #16191a;
}

.projectDesc {
  font-family: Inconsolata;
  font-size: 18px;
  line-height: 1.56;
  color: #16191a;
}

.projectDesc {
  margin-bottom: 4px;
}



.grow { 
  transition: all .24s cubic-bezier(0,.5,.51,1); }
.grow:hover { transform: scale(1.02); }


/* About */

.about2 {
  display: inline-block;
}

.about2 .about {
  max-width: 50%;
  float: left;
}

.about2 aboutImage {
  float: right;
  min-width: 30%;
}

.about2 .aboutImage img {
  margin-top: 60px;
}

.backNav {
  display: inline-block;
  margin-bottom: 103px;
  transition: all .6s cubic-bezier(0,.5,.51,1);
}

.backNav img {
  float: left;
  height: 19px;
  width: 12px;
}

.backNav:hover {
  transform:translate(-7px);
}

.backNav h3 {
  float: right;
  color: #1d8cff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: -2px;
  margin-left: 10px;
  color: #1d8cff
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 30px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 8px;
}

.column img {
  width: 100%;
  margin-top: 18px;
  vertical-align: middle;
}

@media screen and (max-width: 780px) {
  .description {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .previewImages {
    width: 100%;
  }
  .description {
    width: 100%;
  }

  #mainImage {
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 90%;
  }

  .aboutImage img {
    width: 100%;
  }

  .about2 .about {
    max-width: 100%;
    float: left;
  }

}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.appImage {
  margin-top: 20px;
  width: 100%;
}

.extraWide {
  width: 126%;
  margin-left: -13%;
}

.lessWide {
  width: 75%;
  margin-left: 12%;
}

.shadow {
  -webkit-filter: drop-shadow(0px 13px 24px rgba(34, 34, 34, 0.2));
  filter: drop-shadow(0px 13px 24px rgba(34, 34, 34, 0.2));
}

.bt-appear {
  opacity: 0.01;
}

.bt-appear.bt-appear-active {
  opacity: 1;
  transition: 1000ms;
}

#iconbox {
  width: 100%;
}

#texts {
  float: left;
}

#icon1 img {
  margin-bottom: -20px;
}


#icon2 img {
  margin-top: -1px;
}

#icon1, #icon2, {
  float: left;
}

#icon1 img, #icon2 img {
  width: 30px;
  margin-left: 20px;
}

#title {
  font-size: 42px;
}

.appStore {
  width: 170px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  #icon1, #icon2 {
    float:right;
    margin-top: 60px;
  }

  #texts {
    max-width: 80%;
  }

}

